# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
specification.json
target
.DS_Store

# vscode stuff - we may want to use a more specific pattern later if we'd like to suggest editor configurations
.vscode/
.cursor

# used for spec compliance tooling
java-report.json
