# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: on-merge

on:
  push:
    branches: [ master, main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
    - name: Set up JDK 8
      uses: actions/setup-java@fd08b9c8dc6f530393a204a04e1f05101a5d00fd
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
        server-id: ossrh
        server-username: ${{ secrets.OSSRH_USERNAME }}
        server-password: ${{ secrets.OSSRH_PASSWORD }}

    - name: Cache local Maven repository
      uses: actions/cache@40c3b67b2955d93d83b27ed164edd0756bc24049
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Configure GPG Key
      run: |
        echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
      env:
        GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        flags: unittests # optional
        name: coverage # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

    # Add -SNAPSHOT before deploy
    - name: Add SNAPSHOT
      run: mvn versions:set -DnewVersion='${project.version}-SNAPSHOT'
    
    - name: Deploy
      run: |
        mvn --batch-mode \
          --settings release/m2-settings.xml clean deploy
      env:
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
