# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: on-merge

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    environment: publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0
        submodules: recursive
    - name: Set up JDK 17
      uses: actions/setup-java@4e7e684fbb6e33f88ecb2cf1e6b3797739cf499b
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        server-id: central
        server-username: ${{ secrets.CENTRAL_USERNAME }}
        server-password: ${{ secrets.CENTRAL_PASSWORD }}

    - name: Cache local Maven repository
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-17-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-17-maven-

    - name: Configure GPG Key
      run: |
        echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
      env:
        GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        flags: unittests # optional
        name: coverage # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

    # Add -SNAPSHOT before deploy
    - name: Add SNAPSHOT
      run: mvn versions:set -DnewVersion='${project.version}-SNAPSHOT'

    - name: Deploy
      run: |
        mvn --batch-mode \
          --settings release/m2-settings.xml -DskipTests clean deploy
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
