name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@96f53100ba2a5449eb71d2e6604bbcd94b9449b5

      - name: Set up JDK 8
        uses: actions/setup-java@b943a4ed876ec91f6d0cde2181d88d24e8e348de
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@3ecf990cd2aa6b9aba1927f4af47605ce8c9fe79
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@f7ebb81a3f195b4fb88dab7c14e2f7aff52045aa
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Verify with Maven
        run: mvn --batch-mode --update-snapshots --activate-profiles e2e-test verify

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@e1dd05cde2ed37d100f658b34ea423728ba1812e
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@3ecf990cd2aa6b9aba1927f4af47605ce8c9fe79
