name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    strategy:
        matrix:
            os: [ubuntu-latest]
            build:
                - java: 17
                  profile: codequality
                - java: 11
                  profile: java11
    name: with Java ${{ matrix.build.java }}
    runs-on: ${{ matrix.os}}
    steps:
      - name: Check out the code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK ${{ matrix.build.java }}
        uses: actions/setup-java@46c56d6f92c88cf540acf95a12a4a41197499222
        with:
            java-version: ${{ matrix.build.java }}
            distribution: 'temurin'
            cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@378219ced27d0034fb5243e6fb8495a1f0afefe7
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
            path: ~/.m2/repository
            key: ${{ runner.os }}${{ matrix.build.java }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
                ${{ runner.os }}${{ matrix.build.java }}-maven-

      - name: Verify with Maven
        run: mvn --batch-mode --update-snapshots --activate-profiles e2e,${{ matrix.build.profile }} verify

      - if: matrix.build.java == '17'
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@378219ced27d0034fb5243e6fb8495a1f0afefe7
