name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      flagd:
        image: ghcr.io/open-feature/flagd-testbed:latest
        ports:
          - 8013:8013

    steps:
      - name: Check out the code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Set up JDK 8
        uses: actions/setup-java@fbb269240edd041d3dd462703f1111022f1af4de
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@3d392940475e4c472e143ff2fd41aaffb1178094
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@a3f5edc2378b2e43203912210dc88effa160f032
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify # -P integration-test - add this back once we have a compatible flagd

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@3d392940475e4c472e143ff2fd41aaffb1178094
