name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@72f2cec99f417b1a1c5e2e88945068983b7965f9

      - name: Set up JDK 8
        uses: actions/setup-java@4075bfc1b51bf22876335ae1cd589602d60d8758
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@6a6a824702bd1d44a92996212781e3a602e71d70
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Verify with Maven
        run: mvn --batch-mode --update-snapshots --activate-profiles e2e verify

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@c9e4b7326764720e2d95c3a9615d9e6ba7fc949f
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@6a6a824702bd1d44a92996212781e3a602e71d70
