name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      flagd:
        image: ghcr.io/open-feature/flagd-testbed:latest
        ports:
          - 8013:8013

    steps:
      - name: Check out the code
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

      - name: Set up JDK 8
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@ebbe965b436d3cf08f411a8e9cdefb6cda0170db
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@04f198bf0b2a39f7230a4304bf07747a0bddf146
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -P integration-test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@9b87723d6ac0be351efc7242ba5ec28fa641c77c
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@ebbe965b436d3cf08f411a8e9cdefb6cda0170db
