name: PR
on:
  pull_request:
    branches: [ master, main ]
permissions:
  contents: read

jobs:
  build:
    strategy:
        matrix:
            os: [ubuntu-latest]
            build:
                - java: 17
                  profile: codequality
                - java: 11
                  profile: java11
    name: with Java ${{ matrix.build.java }}
    runs-on: ${{ matrix.os}}
    steps:
      - name: Check out the code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK ${{ matrix.build.java }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
            java-version: ${{ matrix.build.java }}
            distribution: 'temurin'
            cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@2d6b98c7cf7260afd6954ee7de478b21127b40f4
        with:
          languages: java

      - name: Cache local Maven repository
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
            path: ~/.m2/repository
            key: ${{ runner.os }}${{ matrix.build.java }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
                ${{ runner.os }}${{ matrix.build.java }}-maven-

      - name: Verify with Maven
        run: mvn --batch-mode --update-snapshots --activate-profiles e2e,${{ matrix.build.profile }} verify

      - if: matrix.build.java == '17'
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests # optional
          name: coverage # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@2d6b98c7cf7260afd6954ee7de478b21127b40f4
