# This workflow creates a running release please PR, which tracks all changes
# based on semantic PR titles. When that PR is merged, a publish occurs after
# release please increments the version.

on:
  push:
    branches:
      - main
name: Run Release Please
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  release-please:
    permissions:
      contents: write  # for google-github-actions/release-please-action to create release commit
      pull-requests: write  # for google-github-actions/release-please-action to create release PR
    runs-on: ubuntu-latest

    # Release-please creates a PR that tracks all changes
    steps:
      - uses: google-github-actions/release-please-action@e673b0b150e57aa9de373436acbe181eb222f789
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main

      # These steps are only run if this was a merged release-please PR
      - name: checkout
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Set up JDK 8
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/setup-java@8f12c5c4d1ebd18bf4b7a51a1b0b912633f0bc61
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
          server-id: ossrh
          server-username: ${{ secrets.OSSRH_USERNAME }}
          server-password: ${{ secrets.OSSRH_PASSWORD }}

      - name: Configure GPG Key
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Deploy
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          mvn --batch-mode \
            --settings release/m2-settings.xml clean deploy
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}