name: "Code Scanning - Action"

# Docs for this at https://github.com/github/codeql-action#usage

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * 1'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  CodeQL-Build:
    # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@956c56734d31557279f2769a3368010c321bb452
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@956c56734d31557279f2769a3368010c321bb452

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@956c56734d31557279f2769a3368010c321bb452
