name: "Code Scanning - Action"

# Docs for this at https://github.com/github/codeql-action#usage

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * 1'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  CodeQL-Build:
    # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@a2d9de63c2916881d0621fdb7e65abe32141606d
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@a2d9de63c2916881d0621fdb7e65abe32141606d

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@a2d9de63c2916881d0621fdb7e65abe32141606d
