name: "Code Scanning - Action"

# Docs for this at https://github.com/github/codeql-action#usage

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * 1'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  CodeQL-Build:
    # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@b2951d2a1ed70de8ec57301118b487b35c13595a
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@b2951d2a1ed70de8ec57301118b487b35c13595a

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@b2951d2a1ed70de8ec57301118b487b35c13595a
