name: "Code Scanning - Action"

# Docs for this at https://github.com/github/codeql-action#usage

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * 1'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  CodeQL-Build:
    # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@72f2cec99f417b1a1c5e2e88945068983b7965f9

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@e982de4fb4a4894badc75460ec088ea44f230653
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@e982de4fb4a4894badc75460ec088ea44f230653

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@e982de4fb4a4894badc75460ec088ea44f230653
